  body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  ul {
      list-style: none;
  }

  .wrapper {
      display: grid;
      grid-auto-rows: minmax(5%, auto);
      grid-template-areas:
      "header header header header"
      "sidebar content content content"
      "footer footer footer footer";
  }

  footer {
      width: 100%;
      grid-area: footer;
  }

  .main-nav {
      width: 10%;
      grid-area: sidebar;
  }

  .content {
      width: 70%;
      margin: 5%;
      grid-area: content;
  }

  .main-head {
      grid-area: header;
  }