<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='thumbnail' content='https://sudogami.com/media/services/thumbnail.jpg'/>
        <meta name="description" content="Sudogami">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <img src='../media/favico.png' class='centered' alt='SUDOGAMI' height='120'>
        <link rel="stylesheet" href="../links/main.css">
    </head>
    <body>
        <header>
            {% include 'navigation.html' %}
        </header>
    </body>
</html>