---
layout: base.njk
---
<a href='https://webring.xxiivv.com/#random' target='_blank'><img height="36px" src='https://webring.xxiivv.com/icon.black.svg'/></a>
<a href='https://merveilles.town/about/more' target='_blank'><img src='../media/logomv.svg' alt='Merveilles' height='36px'></a>
<a href='https://www.sudogami.com' target='_blank'><img src='../media/favico.svg' alt='SUDOGAMI' height='36px'></a>