--- 
layout: base.njk
---

{{ content | safe }}

<a href='https://www.twitter.com/Sudogami' target='_blank'><img src='/media/twitter.svg' alt='SUDOGAMI' height='36px'></a>
<a href='https://merveilles.town/about/more' target='_blank'><img src='/media/logomv.svg' alt='Merveilles' height='36px'></a>
<a href='https://github.com/LiminalCrab' target='_blank'><img src='/media/github.svg' alt='Github' height='36px'></a>

<a href='https://www.sudogami.com' target='_blank'><img src='/media/favico.png' alt='SUDOGAMI' height='36px'></a>

