--- 
layout: base.njk
---

<div class="main-content">
{{ content | safe }}

<a href='https://webring.xxiivv.com/#random' target='_blank'><img src='https://webring.xxiivv.com/icon.black.svg'height="36px"/></a>
<a href='https://merveilles.town/about/more' target='_blank'><img src='/media/logomv.svg' alt='Merveilles' height='36px'></a>
<a href='https://github.com/LiminalCrab' target='_blank'><img src='/media/github.png' alt='Github' height='36px'></a>

<a href='https://www.sudogami.com' target='_blank'><img src='/media/favico.png' alt='SUDOGAMI' height='36px'></a>

</div>