---
layout: base.njk
---
<h2>{{ title }} </h2>
<hr/>
<b>st:</b>[{{ page.date | htmlDateString }}]<br>

    {% if lastmod %}
<b>md:</b>[{{ lastmod | htmlDateString }}]
    {% endif %}

{{ content | safe }}
