---
layout: base.njk
---
<h2>{{ title }} </h2>
Location: {{ metainfo }} {% if city %} {{ city }}, {% endif %} {{country}}. {{ when }}<br>
{{ page.date | htmlDateString }}<br>
<hr/>
{{ description }}

<div class="travel">

{{ content | safe }}

</div>