---
layout: base.njk
---


<h1> /wiki/{{ title }} </h1>
<span>Est: {{page.date | htmlDateString}}<br></span>
{% if page.data.lastmod %}
<span>Mod: {{ lasmod | htmlDateString}}</span>
{% endif %}

{{ content | safe }}

