* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-footer {
    margin-top: 30%;
}

.dev-container {
    font-size: 2em;
    margin: 2%;
}

.dev-container li {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    padding: .5%;
}

.s-name a{
    text-decoration: none;
    color: hsla(259, 0%, 42%, 1);
}


