  body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  ul {
      list-style: none;
  }

  .wrapper {
      display: grid;
      background-color: bisque;
  }


  footer {
    grid-area: footer;
    background-color: rgb(194, 112, 112);
}

  .main-nav {
      grid-area: nav;
      background-color: aqua;
  }

  .content {
      grid-area: content;
      background-color: aquamarine;
  }

  .main-head {
      grid-area: header;
      background-color: brown;
  }